$primary: #1082CF;
$secondary: #F5874F;
$tertiary: #00A859;
$secondary-hover: #00e070;
$card-bg: #e4fff3;
$white: #fff;
$black: #000;

$text-color: rgb(19, 19, 19);
$card-bg: #c4e7ff;

$primary-fade: #eff9ff;

$footer-bg:#fff;