$primary: #1082CF;
$secondary: #E91348;
$tertiary: #FBC108;
$secondary-hover: #00e070;
$card-bg: #e4fff3;
$white: #fff;
$black: #000;

$text-color: rgb(19, 19, 19);
$card-bg: #c4e7ff;

$primary-fade: #e8f6ff;

$footer-bg:#002e4d;